body {
    margin: 0px;
    padding: 0px;
    background-color: darkcyan;
}
div {
    position: relative;
    float: left;
}

#div_container {
    width: 80%;
    height: 100%;
    /* border: 1px solid rebeccapurple; */
    margin-left: 10%;
    float: left;
    background-color: aliceblue;
    border-radius: 8px;
}
#div_fruit_list {
    width: 100%;
    /* border: 1px solid red; */
}
#tbl_fruit {
    width: 60%;
    line-height: 28px;
    font-size: 16px;
    font-weight: bolder;
    color: blueviolet;
    margin-top: 16px;
    margin-left: 20%;
}
#tbl_fruit, #tbl_fruit tr,  #tbl_fruit th, #tbl_fruit td{
    border: 1px green solid;
    /* 边框合并 */
    border-collapse: collapse;
    /* 文字居中 */
    text-align: center;
}
.delImg {
    width: 24px;
    height: 24px;
}
.btn {

}

#add_fruit_div {
    width: 40%;
    margin-left: 30%;
}
#add_fruit_table {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    border-collapse: collapse;
}
#add_fruit_table, #add_fruit_table tr, #add_fruit_table td {
    border: 1px solid lightblue;
    text-align: center;
}

.w30 {
    width: 30%;
}



.input {
    border: 1px solid lightblue;
    width: 90%;
}


.center {
    text-align: center;
    border: 1px darkblue;
}
.f30 {
    font-size: 30px;
}